#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s25 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
#Root password
rootpw --lock
# System timezone
timezone America/New_York --isUtc
#user --groups=wheel --name=walters --password= --iscrypted --gecos="Colin Walters"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part luks --fstype="luks" --ondisk=sda --size=55973
part /boot --fstype="xfs" --ondisk=sda --size=500
part luks --fstype="luks" --ondisk=sda --size=47688
volgroup srv --pesize=4096 pv.1163
volgroup rhel --pesize=4096 pv.316
logvol /home  --fstype="xfs" --size=4768 --name=00 --vgname=rhel
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=rhel
logvol /srv  --fstype="xfs" --size=47680 --name=home --vgname=srv

%packages
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
